@font-face {
  font-family: 'Geologica';
  src: url('./assets/fonts/ofont.ru_Geologica.ttf') format('truetype');
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'Geologica', serif;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.3s;
}

.menu-icon {
display: none;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
}

.navbar.active .bar {
  background-color: #FE390C;
}

.navbar.active {
  background-color: #fff;
}

.navbar-brand {
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu-icon.active + .navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-item {
  padding: 10px 20px;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ff6600;
}

.header-content {
  position: relative;
  text-align: center;
  margin-top: 80px;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.header-text h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

.header-text p {
  font-size: 18px;
}

.header-content img {
  max-width: 100%;
  height: auto;
  z-index: 0;
}

.about-us {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  align-items: flex-end;
}

.about-images img {
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.about-text {
  flex: 1;
  padding: 20px;
}

.about-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #FE390C;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}


.about-text p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.description {
  width: 50%;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: #e8e8e8;
}

.service h1 {
  font-size: 32px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #FE390C;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.service .icon {
  font-size: 1.1em; 
  width: 1em;
  height: 1em;
  margin-left: 10px; 
  margin-right: 10px;
}

.cards-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  max-width: 100%;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: calc(33.33% - 40px);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #000;
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.card p {
  color: #777;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.card p::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #FE390C;
  border-radius: 50%;
  margin-right: 8px;
}

.card p::first-letter {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.card a {
  text-decoration: none;
  color: #FE390C;
  transition: color 0.3s;
}

.card a:hover {
  color: #d61b00;
}

.portfolio {
  text-align: center;
}

.portfolio h1 {
  font-size: 32px;
  margin: 50px 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FE390C;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin: 0 -10px;
}

.slide {
  flex: 0 0 calc(100% / 3);
  margin-right: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.prev-button,
.next-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.prev-button.active,
.next-button.active {
  opacity: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button img,
.next-button img {
  width: 30px;
  height: 30px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-width: 100%;
  background-color: #333;
  color: white;
}

.contact {
  display: flex;
  align-items: center;
}

.phone-icon {
  margin-bottom: 30px;
  align-items: center;
}

.phone-info {
  margin-bottom: 30px;
}

.email-info {
}

.email-icon {
  align-items: center;
}

.contact-info {
  margin-left: 20px;
}

.contact-icon {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 20px;
  margin: 0px;
}

.string {
  font-size: 16px;
  color: #A9A9AA;
  margin: 0px;
}

.social-media {
  display: flex;
}

.soc-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  background-color: #666;
  border-radius: 25px;
  margin: 30px 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  animation: fadeInUp 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  
  .menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
  }
  .menu-icon.active .bar {
    background-color: #FE390C;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: auto;
    max-width: 100%;
    max-height: 80px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }

  .navbar.active {
    background-color: rgba(255, 255, 255, 0.9);
    max-height: 300px;
  }

  .menu-icon.active .bar {
    background-color: #FE390C;
  }

  .navbar.active .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: static;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navbar.active .menu-icon {
    display: flex;
  }

  .nav-item {
    padding: 10px;
    text-align: center;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
    overflow-x: hidden;
  }

  .card {
    width: 100%;
  }

  .card .icon {
    width: 40px;
    height: 40px;
  }

  .header-content {
    margin-top: 40px;
  }

  .header-text {
    font-size: 24px;
  }

  .header-text h1 {
    font-size: 28px;
  }

  .about-text h1 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 14px;
  }

  .menu-icon .bar {
    height: 2px;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .navbar-nav {
    gap: 10px;
  }

  .nav-item a {
    font-size: 14px;
  }

  .cards-container {
    padding: 0 10px;
  }

  .service h1 {
    font-size: 24px;
  }

  .card h2 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }

  .card .icon {
    width: 30px;
    height: 30px;
  }

  .portfolio h1 {
    font-size: 24px;
  }

  .contact-us h1 {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
  }

  .string {
    font-size: 14px;
  }

  .soc-icons {
    height: 36px;
    width: 36px;
  }
}
